@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.profile {
  &__container {
    display: flex;
    @include breakpoint($mobile) {
      flex-direction: column;
    }
  }
  &__leftSide {
    width: 200px;
    margin-right: 32px;
    display: flex;
    flex-direction: column;
    @include breakpoint($mobile) {
      margin: 0 auto;
    }
  }
  &__avatar {
    width: 200px;
  }
  &__reputation {
    background-color: red;
    padding: 8px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 32px;
    @include breakpoint($mobile) {
      margin-bottom: 16px;
    }
  }
  &__count-box {
    border: 1px solid $antGray;
    padding: 8px;
    margin-bottom: 8px;
    font-size: 18px;
  }
}
.user {
  &__name {
    font-size: 30px;
    line-height: 36px;
  }
  &__title {
    color: $lightBlack;
    font-size: 20px;
    line-height: 28px;
  }
  &__bio {
    font-size: 16px;
    line-height: 22px;
  }
}
