@import '../variables.scss';
@import '../../styles/mixins.scss';
// reset
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.container {
  max-width: 1264px;
  width: 90%;
  margin: 0 auto;
}
.banner {
  display: flex;
  padding: 200px 0 0;
  justify-content: space-between;
  color: $black;
  @include breakpoint($tablet) {
    padding: 150px 0 0;
  }

  &__desc {
    width: 50%;
    @include breakpoint($tablet) {
      width: 70%;
    }
    @include breakpoint($mobile) {
      width: 100%;
    }
  }
  &__image {
    width: 40%;
    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    @include breakpoint($tablet) {
      width: 20%;
    }
    @include breakpoint($mobile) {
      display: none;
    }
  }
  &__heading {
    font-size: 67px;
    // line-height: 78px;
    @include breakpoint($mobile) {
      font-size: 46px;
      margin-bottom: 16px;
      // line-height: 20px;
    }
  }
  &__text {
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
    padding-bottom: 10px;
    @include breakpoint($mobile) {
      font-size: 16px;
    }
  }
}
