.answer {
  &__container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0.9rem;
    margin-bottom: 16px;
    background: white;
  }

  &__buttons {
    margin-bottom: 8px;
  }
  &__button {
    margin-right: 4px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
