@import '../variables.scss';
@import '../../styles/mixins.scss';
// reset
body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background-image: url('/static/images/landingFinal.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: black;
}
.banner {
  display: flex;
  justify-content: space-between;
  color: $black;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  @include breakpoint($tablet) {
    padding: 150px 0 0;
  }
  &__logo {
    margin-bottom: 16px;
  }
  &__desc {
    width: 70%;
    @include breakpoint($tablet) {
      width: 100%;
    }
  }
  &__heading {
    font-size: 67px;
    @include breakpoint($mobile) {
      font-size: 46px;
      margin-bottom: 16px;
    }
  }
  &__text {
    color: white;
    font-size: 28px;
    line-height: 33px;
    font-weight: 300;
    margin-bottom: 10px;
    @include breakpoint($mobile) {
      font-size: 22px;
      line-height: 25px;
    }
  }
}
