@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.tags {
  background: white;
  padding: 0.9rem;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  &__title {
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }
}
.tag {
  // width: 32%;
  margin: 4px 0;
  text-align: center;
  padding: 0 5px;
  border: 1px solid #e0e0e0;
  background: #e6e8ed;
  color: #000;
  @include breakpoint($tablet) {
    width: 45%;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    // border: 1px solid $antGray;
    padding: 0 4px;
    border-radius: 4px;
  }
}
