@import '../../styles/variables.scss';
.tech {
  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__box {
    border: 1px solid $black;
    min-width: 150px;
    padding: 8px;
    margin: 4px;
    color: white;
    border-radius: 3px;
  }
}
