@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.tech {
  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__box {
    border: 1px solid #141617;
    flex: 1;

    padding: 8px;
    margin: 4px;
    color: white;
    background-color: #1d2022;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    @include breakpoint($tablet) {
      width: 33%;
      flex: auto;
      // &:last-child {
      //   width: 100%;
      // }
    }
    @include breakpoint($mobile) {
      width: 100%;
    }
    &--dropdown {
      display: inline-block;
      margin: 4px 7px 4px 0;

      cursor: pointer;
      width: 47%;
      @include breakpoint($mobile) {
        // width: 50%;
        width: 100%;

        margin-right: 8px;
      }
    }
    &--more {
      display: flex;
      justify-content: space-between;
      // width: calc(25% - 8px);
      width: 80px;
      align-items: center;
      // margin-left: auto;
      @include breakpoint($tablet) {
        width: calc(50% - 8px);
      }
      @include breakpoint($mobile) {
        width: calc(100% - 8px);
      }
    }
  }
  &__dropdown-arrow {
    margin-left: auto;
  }
  &__dropdown {
    position: relative;
    width: 360px;
    @include breakpoint($tablet) {
      width: calc(100% - 30%);
    }
    @include breakpoint($mobile) {
      width: 50%;
    }
  }
}
