@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.tech {
  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__box {
    border: 1px solid $black;
    flex: 1;
    padding: 8px;
    margin: 4px;
    color: white;
    background-color: #1c2021;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    @include breakpoint($tablet) {
      width: 33%;
      flex: auto;
      &:last-child {
        width: 100%;
      }
    }
    @include breakpoint($mobile) {
      width: 100%;
    }
    &--dropdown {
      display: block;
      margin: 4px 0;
      width: 100%;
      cursor: pointer;
    }
  }
  &__dropdown-arrow {
    margin-left: auto;
  }
}
