@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding: 0 16px;
  align-items: center;
  @include breakpoint($mobile) {
    margin-top: 40px;
  }
  &__list {
    @include breakpoint($mobile) {
      display: none;
    }
  }
  &__list {
    &--responsive {
      display: none;
      padding-left: 0;
      @include breakpoint($mobile) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__listItem {
    display: inline-block;
    padding: 0 8px;
    font-size: 25px;
    &:last-of-type {
      padding-right: 0;
    }
  }
  &__link {
    color: $black;
    &Active {
      color: $dirtyWhite;
    }
  }
  &Responsive {
    flex-direction: column;
  }
}
