@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.question {
  &__container {
    // border: 1px solid $antGray;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0.9rem;
    display: flex;
    position: relative;
    margin-bottom: 16px;
    background: white;
    @include breakpoint($mobile) {
      flex-direction: column;
    }
  }
  &__main {
    width: 100%;
  }
  &__meta {
    display: none;
    display: flex;
    align-items: center;
  }
  &__name,
  &__meta {
    margin-bottom: 7px;
  }
  &__tags {
  }
  &__description {

      }
  &__counters {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  &__counterValue {
      }

  &__counterIcon {
      }
  &__commentsIco &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    @include breakpoint($mobile) {
      min-width: 22px;
      // width: 30px;
    }
    &-container {
      display: flex;
      margin-right: 16px;
      align-items: center;
    }
    &-num {
      font-size: 14px;
      margin-bottom: 4px;
      line-height: 1;
      @include breakpoint($mobile) {
        margin-bottom: 0;
      }
    }
    // &-icon {
    //   height: 20px;
    //   @include breakpoint($mobile) {
    //     height: 18px;
    //   }
    // }
  }
  // &__heading {
  //   margin-bottom: 8px;
  //   min-width: 300px;
  //   @include breakpoint($mobile) {
  //     justify-content: flex-start;
  //     flex-direction: column;
  //   }
  // }
  &__tag {
    display: inline-block;
    margin-right: 6px;
    font-size: 1.05rem;
    font-weight: bold;
    cursor: pointer;
    color: #757575;
    &:hover {
      color: #000;
    }
  }
  &__userAvatar {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    margin-right: 6px;
    cursor: pointer;
  }
  &__userDisplayName {
    color: #000;
    font-size: 0.95rem;
    font-weight: bold;
    margin-right: 6px;
    cursor: pointer;
  }
  &__dotSeparator {
    margin-right: 6px;
    background: #000;
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }
  &__name {
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    color: #000;
    margin-right: 8px;
    cursor: pointer;
    width: 100%;
    @include breakpoint($mobile) {
      font-size: 24px;
      max-width: 70%;
      width: auto;
    }
  }
  &__time {
    
  }
  &__author {
    position: absolute;
    right: 4px;
    bottom: 0;
    display: block;
    color: $lightBlack;
    max-width: 130px;
    cursor: pointer;
    @include breakpoint($mobile) {
      font-size: 16px;
    }
  }
}

// .icon,
// .icon svg {
//   // font-size: 20px;

//   @include breakpoint($mobile) {
//     // font-size: 15px;
//   }
// }
