@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.logo {
  font-size: 32px;
  color: $black;
  font-weight: 500;
  cursor: pointer;
  &__blue-side {
    color: $clblue;
  }
}
