@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.question {
  &__container {
    background: white;
    border: 1px solid #e0e0e0;
    padding: 1rem;
    margin-bottom: 16px;
    border-radius:8px;
  }
  &__name {
    font-size: 1.3rem;
    font-weight:bold;
  }
  &__info {
    display: flex;
    margin-bottom: 8px;
  }
  &__row {
    display:flex;
    align-items: center;
  }
  &__column{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
  &__authorAvatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right:10px;
  }

  &__authorUsername{
    font-weight:bold;
    color: #000;
    margin-right:6px;
  }

  &__dotSeparator {
    margin-right: 6px;
    background: #000;
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }
  &__reputationIcon{
    width:18px;
    height:18px;
    margin-right:6px;
  }
  &__reputationCounter{
    color: #757575;
  }

  &__time{
    color:#757575;
  }
  &__counterValue {
    color: #4d4d4d;
    font-weight: bold;
  }

  &__voteIcon{
    width: 18px;
    height: 18px;
    margin-right: 7px;
  }
  &__downVoteIcon{
    transform: rotate(180deg);
    margin:0;
  }
  &__tags-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  &__text {
    margin-bottom: 15px;
  }
  &__controls {
    display: flex;
    margin-bottom: 16px;
    align-items:center;
    justify-content: space-between;
  }
  &__voteBtn{
    padding: .25rem .75rem;
    border: 1px solid #e0e0e0;
    background: 0 0;
    border-radius: 1000px;
    cursor: pointer;
    line-height: 1;
    margin-right: .5rem;
    outline: 0;
  }
  &__upvote {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover svg {
      stroke: $antBlue;
    }
  }
  &__downvote {
    margin-left: auto;
  }
  &__arrow {
    vertical-align: middle;
    margin-left: 8px;

    svg {
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      &:hover {
        stroke: $antBlue;
      }
    }
  }
  &__score {
    margin-left: 8px;
  }
  &__view-all-comments {
    display: block;
    padding: 4px;
    text-align: right;
    line-height: 1;
    color: $antBlue;
    cursor: pointer;
  }
}
