@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.question {
  &__container {
    border-bottom: 1px solid $antGray;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  &__name {
    font-size: 27px;
    line-height: 27px;
  }
  &__info {
    display: flex;
    margin-bottom: 8px;
  }
  &__detail {
    display: block;
    width: 60px;
    margin-right: 8px;
  }
  &__avatar {
    display: inline-block;
    border-radius: 3px;
    width: 100%;
    &-img {
      width: 100%;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
  &__rep {
    background-color: red;
    display: block;
    text-align: center;
    color: white;
  }
  &__user,
  &__time {
    display: block;
    font-size: 13px;
    line-height: 22px;
  }
  &__tags-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
  }
  &__text {
    padding: 8px;
    border: 1px solid $antGray;
    border-radius: 3px;
    margin-bottom: 8px;
  }
  &__controls {
    display: flex;
    // justify-content: space-between;
  }
  &__upvote {
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover svg {
      stroke: $antBlue;
    }
  }
  &__downvote {
    margin-left: auto;
  }
  &__arrow {
    vertical-align: middle;
    margin-left: 8px;

    svg {
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

      &:hover {
        stroke: $antBlue;
      }
    }
  }
}
