@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
  max-width: 940px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
  @include breakpoint($mobile) {
    flex-direction: column;
  }
  &__container {
    background-color: $dirtyWhite;
    // height: 130px;
  }
}
