@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.banner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // background-image: url('/static/images/hero.jpg');
  // background-color: $graye;
  color: $black;
  &__container {
    max-width: 940px;
    width: 90%;
    margin: 90px auto 16px;
    display: flex;
    justify-content: space-between;
    @include breakpoint($mobile) {
      flex-direction: column;
      margin-top: 80px;
    }
  }
  &__heading {
    font-size: 44px;
    line-height: 76px;
    margin-bottom: 0;
  }

  &__description {
    font-size: 18px;
    line-height: 22px;
    width: 290px;
    display: inline-block;
    @include breakpoint($mobile) {
      width: 100%;
    }
  }
  &__text {
    width: 70%;
    margin-top: 30px;
    @include breakpoint($mobile) {
      width: 100%;
      margin-top: 0;
    }
  }
  &__form {
    width: 30%;
    @include breakpoint($mobile) {
      width: 100%;
    }
    &__heading {
      font-weight: bold;
    }
  }
  &__socials {
    display: flex;
    margin-bottom: 24px;
    &-item {
      margin-right: 8px;
      width: 50%;
      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
