// colors
$black: #111;
$lightBlack: #757575;
$dirtyWhite: #f1f1f1;
$lightGrey: #e0e0e0;
$graye: #c4c4c4;
$antGray: #d9d9d9;
$clblue: #3e6fb5;
$blue: #0076ff;
$antBlue: #40a9ff;
/*Breakpoints*/
$minimob: 320px;
$mobile: 740px;
$tablet: 940px;
$laptop: 1400px;
$desktop: 1920px;
